/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .body{
        overflow-x: hidden;
        max-width: 100%;
    }

    .feature {
        display: flex;
        padding: 20px 15px;
        align-items: start;
        flex-direction: column;
        align-content: center;
        gap: 15px;
        align-self: stretch;
        flex-wrap: wrap;
        overflow: hidden;
        height: 80vh;
    }

    /*test TODO: reformat Header group as in figma for 100vh*/

    .header-group {
        z-index: 1;
        display: flex;
        padding-bottom: unset;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        flex: 1 0 0;
        min-width: unset;
        max-width: unset;
        justify-content: space-between;
    }

    .header {

        display: flex;
        padding-bottom: 70px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .head {
        color: #FFF;
        /* Title v */
        font-family: "Roslindale Cyrillic Text";
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 82.5px */
    }

    .head-italic {
        color: #FFF;
        /* Title v italic */
        font-family: "Roslindale Cyrillic Text I";
        font-size: 40px;
        font-weight: 500;
        line-height: 110%;
    }

    #highlight {
        background-image: url("images/oval.svg");
        background-size: 159px 48px;
        background-position: 45px;
        background-repeat: no-repeat;
        margin: -80px -80px;
        padding: 80px 80px;
    }

    .header-lead {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .lead {
        flex: 1 0 0;
        align-self: stretch;
        color: #FFF;
        font-family: Mulish;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    :root {
        --t: 0.5s
    }

    .button {
        display: flex;
        padding: 2vh 5vw;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        flex-wrap: wrap;
        max-width: 550px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 40px;
        background: #FFF;
        /* doubleshade 
        box-shadow: 1px 13px 42.5px 0px rgba(233, 118, 108, 0.67), -2px 4px 74.1px 0px #B5DEFF;
        */
        box-shadow: unset;
        color: #000;
        align-self: stretch;



        /*button text style*/
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        color: inherit;
    }

    .button-anim {
        transition: color var(--t), background var(--t), box-shadow var(--t);
    }

    .button-anim:hover {
        background: #000;
        color: #FFF;
        box-shadow: 1px 13px 42.5px 0px #B5DEFF, -2px 4px 74.1px 0px rgba(233, 118, 108, 0.67);
    }

    .button-text {
        align-self: stretch;
    }

    p {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }

    .feature-image {
        position: absolute;
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
        pointer-events: none;
    }

    .feature-image-wrapper {
        position: relative;
        width: 100%;

    }

    .portrait {
        /*filter: drop-shadow(-2px 4px 74.1px #B5DEFF) drop-shadow(1px 13px 42.5px rgba(233, 118, 108, 0.67));*/
        width: 550px;
        height: 567.04px;
        /*safari filter fix*/
        -webkit-appearance: none;
        backdrop-filter: blur(0);
        position: absolute;
        right: -50vw;
        top: 0vh;
        z-index: 0;
    }

    .content-block {
        display: flex;
        /*max-width: 1400px;*/
        padding: 35px 15px;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        row-gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;
        border-top: 1px solid #AAA;
    }

    h2 {
        font-family: "Roslindale Cyrillic Condensed";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .content-title {
        display: flex;
        min-width: 375px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        color: #FFF;
        text-align: center;
    }

    .content-text {
        display: flex;
        min-width: 350px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
    }

    .text-lead {
        flex: 1 0 0;
        color: #FFF;

        /* Text lead */
        font-family: Mulish;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 10px;
    }

    .card-text {
        color: #FFF;

        /* Card text */
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .carousel-block {
        border-top: 1px solid #AAA;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        /*justify-content: center;
            align-items: center;
            align-content: center;*/
    }

    .carousel-title {
        display: flex;
        padding: 35px 15px 0px 15px;
        justify-content: left;
        align-items: left;
        align-content: left;
        gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .carousel-title-text {
        color: #FFF;
        /* H1 */
        font-family: "Roslindale Cyrillic Condensed";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }


    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }


    .carousel-wrapper {
        display: inline-flex;
        flex-flow: row nowrap;
        overflow: hidden;
        /*touch-action: none;*/
    }

    .carousel {

        display: flex;
        flex-direction: row;
        /*min-width: 500px;*/
        padding: 90px 50px;
        gap: 70px;
        flex: 1 1 0;
        align-self: stretch;
        align-items: center;
        /*animation: none;*/
        animation: 35s linear infinite normal slide;


        -webkit-overflow-scrolling: touch;
        /* momentum scrolling, iOS Safari only*/

        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }

    .carousel-stop-wrap {
        display: inline-flex;
        flex-flow: row nowrap;
        --duration: 10s;
        /*transform: translateX(0);
            transition: calc(var(--duration) * .1) ease-out;*/
    }

    /*
        .carousel-stop-wrap:hover {
            transform: translateX(-20%);
          }
        
        .carousel-stop-wrap:hover .carousel {
            animation-play-state: paused;
          }
        */


    .card {
        flex-grow: 0;
        display: flex;
        max-width: 400px;
        min-width: 350px;
        padding: 13px 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: flex-start;
        border-radius: 40px;
        background: #000;
        user-select: none;
        /* doubleshade */
        box-shadow: 1px 13px 42.5px 0px rgba(233, 118, 108, 0.67), -2px 4px 74.1px 0px #B5DEFF;
    }

    .card-head {
        display: flex;
        padding: 20px 16px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .card-content {
        display: flex;
        max-width: 600px;
        padding: 15px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    .carousel-subtext {
        display: flex;
        padding: 0px 15px 35px 15px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        flex: 1 0 0;
        max-width: unset;
    }

    .book-section-wrapper {
        display: flex;
        padding: 80px 15px;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 10px;
        align-self: stretch;
        border-top: 1px solid #FFF;
    }

    .book-section {
        display: flex;
        overflow: hidden;
        /*margin-left: auto;
            margin-right: auto;*/
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        max-width: 900px;
        width: 100%;
        border-radius: 60px;
        flex: 0 1 auto;
        background-image: url("images/txtr.png"), url("images/Blur-Book.svg"), linear-gradient(180deg, #ECC787 0%, #E9766C 100%);
        background-size: 100px 100px, 800px 100%, auto;
        background-repeat: repeat, no-repeat, no-repeat;
        background-blend-mode: overlay, normal, normal;

        /* doubleshade */
        box-shadow: 1px 13px 42.5px 0px rgba(233, 118, 108, 0.67), -2px 4px 74.1px 0px #B5DEFF;
    }



    /*
        .book-bg{
            width: 1200px;
            height: 786px;
            position: absolute;
            background: url("images/txtr.png") rgb(235, 235, 235) 0% 0% / 20px 20px repeat;
            mix-blend-mode: overlay;
            
            }
        */
    .book-header {
        display: flex;
        padding: 35px 35px 0px 35px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;
        /*border-top: 1px solid #AAA;*/
    }

    .content-title-book {
        color: #000;
        text-align: center;

        /* H1 
        font-family: "Roslindale Cyrillic Condensed";
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;*/
    }

    .book-content {
        display: flex;
        padding: 20px 15px 50px 15px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .bubble-wrapper {
        display: flex;
        /*max-width: 1000px;*/
        padding: 15px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    .bubble-card {
        display: flex;
        max-width: 550px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        border-radius: 40px 40px 40px 0px;
        background: #000;

        /* doubleshade */
        box-shadow: 1px 13px 42.5px 0px rgba(233, 118, 108, 0.67), -2px 4px 74.1px 0px #B5DEFF;
    }

    .bubble-card-text {
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .bubble-card-acion {
        display: flex;
        height: 64px;
        align-items: flex-start;
        align-self: stretch;
        flex-wrap: wrap;
        border-radius: 0px 0px 40px 40px;
        border-top: 1px solid #FFF;
    }

    .bubble-button-L {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-right: 1px solid #FFF;

        /* Card text */
        font-family: Mulish;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .bubble-button-R {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 0px 0px 40px 0px;
    }


    .bubble-wrapper-R {
        display: flex;
        /*max-width: 1000px;*/
        padding: 15px 0px;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        align-self: stretch;
    }

    .bubble-card-R {
        display: flex;
        max-width: 550px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 40px 40px 0px 40px;
        background: #000000;
        margin-left: auto;

        /* doubleshade */
        box-shadow: 1px 13px 42.5px 0px rgba(233, 118, 108, 0.67), -2px 4px 74.1px 0px #B5DEFF;
    }

    #small-card {
        max-width: 400px;
    }

    .acc-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
        padding-bottom: 20px;
        border-bottom: 1px solid #AAA;
    }

    .acc-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        min-width: 320px;
    }

    .acc-title-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
    }


    .acc-title {
        flex: 1 0 0;
        color: #FFF;
        font-feature-settings: 'ss03' on;

        /* Card title */
        font-family: "Roslindale Cyrillic Variable";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .chevron {
        width: 32px;
        height: 32px;
        display: none;
    }


    .footer {
        display: flex;
        padding: 45px 50px;
        align-items: center;
        align-content: center;
        row-gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        border-top: 1px solid #AAA;
        background: #000;
    }

    .footer-text {
        color: #AAA;
        font-family: "Roslindale Cyrillic Text";
        font-feature-settings: 'ss03' on;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    .large-content {
        flex-grow: 4;
    }

    .large-content-head {
        flex-grow: 0;
    }

    .b-b-anim {
        font-family: Mulish;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: color var(--t), background var(--t), box-shadow var(--t);
    }

    .b-b-anim:hover {
        color: #000;
        background-color: white;
        box-shadow: 1px 13px 42.5px 0px rgba(233, 118, 108, 0.67), -2px 4px 74.1px 0px #B5DEFF;
        color: #000;
    }

}